<div class="carousel">
    <mat-card>
        <ng-container *ngFor='let movie of movies; let i = index'>
            <mat-card-header *ngIf='i === currentMovie' [@slideAnimation]='animationType'>
                <mat-card-title>{{movie.title}}</mat-card-title>
                <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="i === currentMovie" class="slide" [src]='movie.image' [@slideAnimation]='animationType'/>

            <mat-card-content *ngIf="i === currentMovie" [@slideAnimation]='animationType'>
                <p>{{movie.crew}}</p>
                <p><b>{{movie.imDbRating}}</b></p>
            </mat-card-content>
        </ng-container>

        <button class='control prev' mat-mini-fab aria-label="Previous" (click)="onPreviousClick()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button class='control next' mat-mini-fab aria-label="Next" (click)="onNextClick()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </mat-card>
</div>